body {
    font-family: arial;
    text-align: center;
}

h1 {
    color: #e60032;
}

a {
    color: #e60032;
    text-decoration: underline;
}

table {
    text-align: center;
}

div.kalendarz {
    margin-left: 186px;
    margin-right: 11px; 
    margin-bottom: 11px;
    border: 1px solid gray;
    border-radius: 8px;
    float: left;
    width: 190px;
    height: 180px;
    text-align: center;
}

.calendar-title-link:visited {
    color: white;
    text-decoration: dotted;
}

.calendar-title {
    padding: 3px;
    border-radius: 7px 7px 0 0;
    background: rgb(62,169,255);
    background: linear-gradient(180deg, rgba(62,169,255,1) 0%, rgba(0,31,255,1) 100%);
}

.wknr {
    background-color: #e6e6e6;
    color: gray;
    border-right: 1px solid gray;
    padding: 1px;
    font-style: italic;
}

th.wknr {
    color: gray;
}

.fl.legenda_day {
    color: #e60032;
}

img {
    text-align: left;
}